

html {
    scroll-behavior:smooth;
}
.main{
    background-color: #5485717d;
    margin: 1%;
}
.container{
    background-color: #f8f6f6;
    margin-right: 2.2%;
}
.content {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    
}

.Bio {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
    margin: 5%;
    font-weight: 500%;
}
.Bio p{
    color: #895a5a;
}

.profile{
    border-radius: 100%;
    width: 45%;
    height: 45%;
}
/*.profile{
    border-radius: 100%;
    width: 45%;
    height: 45%;
    position: relative;
    left: 54%;
}*/


nav{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-around;
    row-gap: 10px;
    width: 10%;
    position: relative;
    left: 85%;
}

nav a{
    text-decoration: none;
    
}
nav a:hover{
    color: rgb(215, 110, 71);
    font-size: 27px;
}

#recent_projects{
    display: inline-flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-left: 3%;
    justify-content: space-around;
}


    
nav{
    color: #6B7280;
    font-size: 25px;
    font-weight: bold;
    margin: 0.5%;
}
a{
    color: #6B7280;
    font-size: 25px;
    font-weight: bold;
}
h1{
    margin-left: 2%;
    font-weight: 500%;
    color: #85b098;
}

h2{
    color: #85b098;
    font-weight: 500%;
}

p{
     color:#85b08b;
     font-size: 20px;
     line-height: 50px;
}

.resume_button{
    position: relative;
    left: 20%;
    width: 20%;
}
.resume_button a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.resume_button a:hover{
    font-size: 23px;
    color: #ea7878b7;
}

.inner{
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #efefef;
    margin-left: 3%;
}
.inner h2{
    text-align: center;
    font-weight: 200px;
}

.sample_1, 
.sample_2{
    background-color: #ececec;
    width: 40%;
    margin-top: 30px;
}

.sample_1 p{
    color: #895a5a;
    line-height: 25px;
    font-size: 16px;
}
.sample_1 h3{
    font-size: 24px;
}
.sample_2 p{
    color: #895a5a;
    line-height: 25px;
    font-size: 16px;
}
.sample_2 h3{
    font-size: 24px;
}

.text{
    text-decoration: none;
}
.sample_1:hover{
    color: lab(82.83% 8.05 2.93);
    transform: scale(1.1);
}
.sample_2:hover{
    color: lab(82.83% 8.05 2.93);
    transform: scale(1.1);
}
.sample_1 button{
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 40%;
}

.sample_1 a{
    text-decoration: none;
}
.sample_2 button{
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 40%;
}

.sample_2 a{
    text-decoration: none;
}
.sample_1 a:hover{
    font-size: 23px;
    color: #ea7878b7;
}
.sample_2 a:hover{
    font-size: 23px;
    color: #ea7878b7;
}

.container_2{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.container_2 h2{
    text-align: center;
}
.social{
    text-align: center;
}
.social h3{
    background-color:  #fbfbfb;
    text-align: center;
}
.social img{
    width: 5%;
    height: 5%;
}
.form_container form{
    display: flex;
    flex-direction: column;
    
}
#name,
#email{
    width: 400px;
    height: 30px;
    border-radius: 50px;
}
#message{
    width: 40%;
    margin-top: 1%;
}

.name,
.email,
.message {
    font-size: 20px;
    font-weight: 200;
    margin-top: 2%;
}


.submit img{
    width: 60px;
    height: 45px;
    margin-top: 1%;
    position: relative;
}

.submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.submit {
    display: inline-flex;
    gap: 15px;
    margin-top: 3%;
    border: solid 1.5px black;
    background-color: rgb(225, 222, 209);
    border-radius: 20px;
    box-sizing: border-box;
    height: 55px;
    width: 180px;
    font-size: 25px;
}
.submit_text{
    position: relative;
    top: 2px;
    font-size: 20px;
}
